.footer {
  position: relative;

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 116px 0 104px 0;

  text-align: start;
  color: var(--second-text-color);

  background-image: linear-gradient(
      rgba(77, 150, 168, 0.8955) 0%,
      rgba(77, 150, 168, 0.8955) 100%
    ),
    url(../assets/desktop/image-footer.jpg);

  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.footer-text {
  max-width: 350px;
}

/* +++++++++++++++++++++++++ tablet +++++++++++++++++++++++++ */

@media screen and (max-width: 1156px) {
  .footer {
    padding: 92px 0 66px 0;

    text-align: center;
    color: var(--second-text-color);

    background-image: linear-gradient(
        rgba(77, 150, 168, 0.8955) 0%,
        rgba(77, 150, 168, 0.8955) 100%
      ),
      url(../assets/tablet/image-footer.jpg);

    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
  }

  .footer-text {
    margin-bottom: 40px;

    font-size: 18px;
    line-height: 144%;
  }
}

/* +++++++++++++++++++++++++ mobile +++++++++++++++++++++++++ */

@media screen and (max-width: 767px) {
  .footer {
    padding: 92px 0 72px 0;

    background-image: linear-gradient(
        rgba(77, 150, 168, 0.8955) 0%,
        rgba(77, 150, 168, 0.8955) 100%
      ),
      url(../assets/mobile/image-footer.jpg);
  }

  .footer-text {
    margin-bottom: 32px;
  }
}
