body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  text-align: center;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

/* +++++++++++++++++++++++++ tablet +++++++++++++++++++++++++ */

@media screen and (max-width: 1156px) {
  body {
    font-size: 16px;
    line-height: 162%;
  }
}

/* +++++++++++++++++++++++++ mobile +++++++++++++++++++++++++ */

@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
    line-height: 162%;
  }
}
