:root {
  --accent-color: #4d96a9;
  --accent-color-hover: #71c0d4;
  --second-accent-color: #855fb1;
  --second-accent-color-hover: #b18bdd;

  --version-color: #8fe3f9;
  --second-version-color: #d9b8ff;

  --title-color: #28283d;
  --text-color: #87879d;
  --second-text-color: #fafafa;
}
