:root {
  --accent-color: #4d96a9;
  --second-accent-color: #855fb1;

  --version-color: #8fe3f9;
  --second-version-color: #d9b8ff;

  --title-color: #28283d;
  --text-color: #87879d;
  --second-text-color: #fafafa;
}

body {
  font-family: "Red Hat Display", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  text-align: center;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.header {
  padding-top: 80px;
  padding-bottom: 61px;
}

.hero {
  position: relative;
  min-height: 358px;

  margin-bottom: 314px;
}

.overflow-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  column-gap: 88px;

  overflow-x: hidden;
}

.text-thumb {
  width: 540px;
  min-width: 540px;

  margin-left: auto;
  margin-right: auto;
}

.hero-text-thumb {
  margin: 0;
  padding-top: 47px;
  display: flex;
  flex-direction: column;
  row-gap: 33px;
}

.title {
  font-weight: 900;
  color: var(--title-color);
}

.hero-title {
  font-size: 64px;
  line-height: 100%;
}

.btn-thumb {
  display: flex;
  gap: 16px;

  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 16px 40px;
  background-color: var(--accent-color);
  border: none;
  border-radius: 29px;

  font-weight: 900;
  font-size: 16px;
  line-height: 162%;
  color: #fff;

  cursor: pointer;
}

.btn-vetsion {
  color: var(--version-color);
}

.btn-second {
  padding: 16px 29px;
  background-color: var(--second-accent-color);
}

.hero-right-photo {
  margin-top: 55px;
}

.section-number {
  position: absolute;
  bottom: -250px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;

  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 56px;
  aspect-ratio: 1/1;

  font-weight: 900;
  font-size: 16px;
  line-height: 162%;

  background-color: #fff;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 50%;
}

.section-number::before {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateY(-100%);

  content: "";
  width: 1px;
  height: 84px;

  background-color: rgba(135, 135, 157, 0.25);
}

/* ======================== hero ============================= */

.container {
  width: 1140px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.photos-list {
  list-style: none;
  padding: 0;
  margin-bottom: 80px;

  display: flex;
  gap: 30px;
}

.photos-item {
  width: 255px;
  height: 242px;

  line-height: 0;

  border-radius: 8px;
  overflow: hidden;
}

.photo {
  width: 100%;
  object-fit: cover;
}

/* ========================= smarter-section ============================ */

.smarter-section {
  position: relative;
  margin-bottom: 184px;
}

.accent-text {
  margin-bottom: 16px;

  font-weight: 900;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  color: var(--accent-color);
}

.second-title {
  font-size: 40px;
  line-height: 110%;

  margin-bottom: 32px;
}

.section-number-second {
  bottom: -212px;
}

/* ========================= footer ============================ */

.footer {
  position: relative;

  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  padding: 116px 0 104px 0;

  text-align: start;
  color: var(--second-text-color);

  background-image: linear-gradient(
      rgba(77, 150, 168, 0.8955) 0%,
      rgba(77, 150, 168, 0.8955) 100%
    ),
    url(../assets/desktop/image-footer.jpg);

  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer-title {
  max-width: 350px;
  margin-right: 125px;

  font-size: 40px;
  line-height: 110%;
  color: var(--second-text-color);
}

.footer-text {
  max-width: 350px;
}

.btn-footer {
  margin-left: 92px;
  align-self: center;
  background-color: var(--second-accent-color);
}

.btn-footer-vetsion {
  color: var(--second-version-color);
}
